<div class="container">
  <div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      <div class="card card-signin my-5">
        <div class="card-body">

          <h5 class="card-title text-center">Connexion</h5>

          <form (ngSubmit)="onClickSignIn(authForm)" #authForm="ngForm">

            <input type="text"
                   id="inputLogin"
                   class="form-control"
                   placeholder="Login"
                   name="login"
                   ngModel
                   required
                   autofocus>
            <br>
            <input type="password"
                   id="inputPassword"
                   class="form-control"
                   placeholder="Mot de passe"
                   name="password"
                   ngModel
                   required>
            <br>
            <button class="btn btn-lg btn-dark btn-block text-uppercase"
            type="submit"
            [disabled]="authForm.invalid">Me connecter
    </button>

          </form>

        </div>
      </div>
    </div>
  </div>
</div>