<div class="row justify-content-center">
    <div class="col-8">

        <form (ngSubmit)="onSubmitNewSerie()" [formGroup]="serieForm">

            <!--Serie.name-->
            <div class="form-group mt-5">
                <label for="name">Nom de la série</label>
                <input type="text" placeholder="Nom de la série*" id="name" class="form-control"
                    formControlName="name">
            </div>

            <!--Serie.firstRelease-->
            <div class="form-group mt-3">
                <label for="firstRelease">Année de création</label>
                <input type="date" placeholder="Année de création*" id="firstRelease" class="form-control" 
                formControlName="firstRelease">
            </div>

            <!--Serie.seasonsNumber-->
            <div class="form-group">
                <label for="seasonsNumber">Nombre de saisons</label>
                <input type="number" placeholder="Nombre de saisons*" id="seasonsNumber" class="form-control" 
                formControlName="seasonsNumber">
            </div>

            <!--Serie.description-->
            <div class="form-group">
                <label for="description">Synopsis de la série</label>
                <input type="text" placeholder="Synopsis de la série*" id="description" class="form-control" 
                formControlName="description">
            </div>

            <!--Serie.picture-->
                <div class="form-group">
                <label for="picture">Affiche de la série</label>
                <input type="text" placeholder="Entrez une URL complète*" id="picture" class="form-control" 
                formControlName="picture">
            </div>

            <!--Serie.review-->
            <div class="form-group">
                <label for="review">Critique de la série</label>
                <input type="text" placeholder="Critique de la série*" id="review" class="form-control" 
                formControlName="review">
            </div>

             <!--Serie.comment-->
             <div class="form-group">
                <label for="comment">Commentaire sur la série</label>
                <input type="text" placeholder="Commentaire sur la série*" id="comment" class="form-control" 
                formControlName="comment">
            </div>

            <button type="submit" class="btn btn-primary" [disabled]="serieForm.invalid">Ajouter !</button>

            <div class="mt-5 mb-2 text-center">
                <div *ngIf="msg" class="alert-success"> {{msg}}</div>
            </div>

        </form>
    </div>
</div>

    <div class="mt-5 text-center">
    <a routerLink="/series" class="card-link">Retourner vers les séries</a>
</div>


